// app global css in Stylus form

//Modificações no Footer
.q-footer{
    height: 180px;
    background-color: $laranja;
}


.toolbar_footer{
    background-color: $larajuro;
    button: 0;
    border-bottom-width: 140px;
    padding-bottom: 0px;
    top: button;
    bottom: 0px;
    top: 100%;
}