// app global css in Stylus form

//Modificações no Footer
.q-footer{
    height: 180px;
    background-color: $laranja;
}

.q-footer ul, li, a{
    list-style: none;
    text-decoration: none;    
}

.container_footer{
    margin: 0 15% 0 15%; //FUNCIONA NÃO MEXE
}

.row_footer{
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.footer-links{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $larajuro;
    height: auto;
}

.footer-icons img {
    height: 46px;
    width : 46px;
    padding-right: 12px;    
}
// FIM DO FOOTER